@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<div class="container">
    @using (Html.BeginForm("Index","Test",FormMethod.Post,new { enctype="multipart/form-data"}))
            {
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="file" class="form-control" name="myFile" />
                    </div>
                    <div class="form-group col-md-6">
                        <input type="submit" name="fileSubmit" value="Upload" />
                    </div>
                </div>
            }
</div>*@